p {font-family: serif; }

.article-component {
  margin-bottom: 3rem;
}

.article-component > h2 {
  font-weight: 700;
  font-size: 1.5rem;
}

.article-component > h2:hover {
  background-color: #377;
  color: #ffffff;
}

@media (min-width: 700px) {
  p { font-size: 1.3rem; }
  .article-component > h2 { font-size: 2rem;}
}